
@import url('https://fonts.googleapis.com/css2?family=Tac+One&family=Yarndings+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&family=Tac+One&family=Yarndings+20&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.cabecalho{
    padding: 1% 0% 0% 30%;
}

.cabecalho__menu{
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link{
    font-family: "Rubik Scribble", system-ui;
    font-size: 1.5rem;
    color: aqua;
    text-decoration: none;
}

.link{
    color: aqua;
}

.apresentacao{
    padding:14% 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__titulo{
    font-size: 2.25rem;
    font-family: "Tac One", sans-serif;
}

.apresentacao__paragrafo{
    font-size: 1.5rem;
    font-family: "Rubik Scribble", system-ui;
}

.apresentacao__imagem{
    padding: 2%;
    width: 50%;
}

.apresentacao__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.apresentacao__link__titulo{
    font-family: "Tac One", sans-serif;
    font-weight: 600;
    font-size: 1.87rem;
}

.apresentacao__link__links{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid aqua;
    width: 120%;
    text-align: center;
    border-radius: 24px;
    font-size: 1.5rem;
    padding: 10% 0;
    text-decoration: none;
    color: black;
    font-family: "Tac One", sans-serif;
    font-weight: 600;
}

.apresentacao__link__links:hover{
    background-color: #272727;
}

.rodape{
    padding: 30px;
    text-align: center;
    color: black;
    background-color: #272727;
    font-family: "Rubik Scribble", system-ui;
    font-size: 1.5rem;
}

@media(max-width: 1500px){
    .apresentacao{
        flex-direction: column-reverse;
        padding: 7% 15%;
    }

    .cabecalho{
        padding: 7%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao__texto{
        width: auto;
    }
}